@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'HelveticaNow';
    src: url('/fonts/helvetica-now-display-400.ttf');
}

@font-face {
    font-family: 'HelveticaNow-md';
    src: url('/fonts/helvetica-now-display-500.ttf');
}


.line::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 2px;
}

